build
.idea
cmake-build-debug
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
.Rhistory

# clangd / clang-tidy scratch
.cache/
test/__pycache__/


.idea/
.envrc
.env
jev.duckdb
http-client.private.env.json
temp/